html, body {
  margin: 0;
  padding: 0;
}

html{
  font-family: Roboto, sans-serif;
}

body {
  color: #292929;
  font: 90% Roboto, Arial, sans-serif;
  font-weight: 300;
}

p {
  padding: 0 10px;
  line-height: 1.8;
}

ul li {
  padding-right: 10px;
  line-height: 1.6;
}

h2 {
  padding: 5px 20px;a
  margin: 0;
}

h3 {
  padding: 5px 20px;
  margin: 0;
}
.navbar-brand {
  background-color: #379ec1;
  color: white;
  width: 20vw;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0 36vw 2vw;
  transition: all 0.5s;
}
.navbar-brand:hover {
  background-color: #659224;
  color: white;
}
.img-fluid {
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 20vw;
  margin: 0 37.5vw 2vw;
}

.fw-bolder {
  background-color: #659224;
  color: white;
  margin: 0 23vw 2vw;
  padding: 12px;
  padding-left: 22vw;
  border-radius: 4px;
}
.mb-0 {
  background-color: #379ec1;
  color: white;
  margin: 0 23vw 2vw;
  padding: 12px;
  padding-left: 21vw;
  border-radius: 4px;
  font-size: 22px;
}
.col-lg-6 {
  background-color: #379ec1;
  margin: 0 23vw;
}

.col-lg-6 a {
  background-color: #659224;
  color: white;
  width: 95%;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
  font-size: 22px;
}
.col-lg-6 img {
  margin-left: 20vw;
  color: white;
}
.photo img {
  margin-left: 44vw;
}
.name p {
  background-color: #659224;
  color: white;
  margin: 0 23vw 2vw;
  padding: 12px;
  padding-left: 21vw;
  border-radius: 4px;
  font-size: 22px;
}